.ui.comments .comment .actions button {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.75em 0 0;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.4);
	padding: 0;
}

.ui.comments .comment .author {
	cursor: pointer;
	color: #2185d0 !important;
}

.mt-3 {
	marging-top: 3 rem;
}
